.cat-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-slider__img-before {
    margin-bottom: 45px;
}

.cat-slider__toggle {
    position: relative;
    align-self: center;
    vertical-align: middle;
    
    &::before{
        content: "Было";
        position: absolute;
        top: 0;
        left: -50px;
        text-transform: uppercase;
        vertical-align: middle;
    }

    &::after {
        content: "Стало";
        position: absolute;
        top: 0;
        right: -50px;
        text-transform: uppercase;
    }
}
