.contacts {

}

.contacts__inner {
    min-width: 321px;
    width: 100%;
    margin: 0 auto;
}

.contacts__address-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
}

.contacts__invite {
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
}

.contacts__address {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: $font-color;
    text-align: right;
}

.contacts__map {
    width: 100%;
    height: 400px;
}

.ya_map {
    font-family: arial;
    font-size: 12px;
    color: #454545;
}