.example {
    padding: 40px 20px 50px;
    background-color: $grey-color;
    box-shadow: 0 -1px 0 0 #e6e6e6;
}

.example__inner {
    max-width: $tablet-width;
    width: 100%;
    margin: 0 auto;
}

.example__heading {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: normal;
}

.example__description {
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $font-color;
}

.example__wrapper {
    margin-bottom: 50px;
}

.example__cells {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.example__cell {
    position: relative;
    min-width: 125px;
    min-height: 55px;
    // margin-right: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.example__cell-value {
    position: relative;
    bottom: 5px;
}

.example__label {
    position: absolute;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: $font-color;
    background: $grey-color;
    text-transform: lowercase;
    white-space: wrap;
    //bottom: -7px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.example__costs {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}

.example__cat-slider {

}