.nutrition {
    // margin-top: 60px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    @include tablet {
        padding-left: 30px;
        padding-right: 30px;
    }

    @include desktop {
        // padding-left: 40px;
        // padding-right: 40px;
    }
}

.nutrition__inner {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    
    @include desktop {
        max-width: $desktop-width-content;
    }
}

.nutrition__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    @include desktop {
        display: flex;
    }
}

.nutrition__card {
    position: relative;
    min-width: 45%;
    padding: 30px 20px 20px;
    margin-bottom: 20px;
    background-color: $grey-color;

    @media (min-width: $tablet-width) {
        padding: 70px 50px 65px;
        margin-bottom: 30px;
    }

    @include desktop {
        min-width: 570px;
        width: 50%;
    }
}

.nutrition__item:last-child {

    @include desktop {
        // margin-left: 40px;
    }
}

.nutrition__item:first-child {

    @include desktop {
        // margin-right: 40px;
    }
}

.nutrition__heading {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: normal;
    // text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        margin-bottom: 25px;
        font-size: 36px;
    }

    @include desktop {
        
    }
}

.nutrition__description {
    position: relative;
    z-index: 2;
    // max-width: 60%;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $font-color;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
        max-width: 55%;
        margin-bottom: 27px;
        font-size: 16px;
        line-height: 24px;
        border: none;
    }

    @include desktop {
        max-width: 100%;
    }
}

.nutrition__image-background {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    // top: 20px;
    // left: 20px;
    // z-index: 1;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: $secondary-color;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
        position: absolute;
        right: 40px;
        top: 50%;
        width: 200px;
        height: 200px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    @include desktop {
        width: 100px;
        height: 100px;
        margin-right: 50px;
        margin-bottom: 40px;
    }
}

.nutrition__image {
    position: absolute;
    width: 50px;
    height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        width: 200px;
        height: 200px;
    }

    @include desktop {
        width: 100px;
        height: 100px;
    }
}

.nutrition__image--weight-reduce {
    bottom: 5px;
    background-image: url("../img/icon-cat-slim.svg");
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);

    @include tablet {
        bottom: 10px;
    }
}

.nutrition__image--mass-increase {
    width: 70px;
    height: 70px;
    left: -10px;
    top: -10px;
    background-image: url("../img/icon-cat-pro.svg");

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
        left: -33px;
        top: -29px;
        width: 265px;
        height: 265px;
    }

    @include desktop {
        width: 130px;
        height: 130px;
    }
}

.nutrition__link {
    position: relative;
    padding-right: 35px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    background: url("../img/right-arrow.svg") 100% 50% no-repeat;
    background-size: 25px;

    @media (min-width: $tablet-width) {
        font-size: 20px;
        padding-right: 50px;
    }
}
