.page-footer {
    padding: 30px 20px;
    background-color: $grey-color;
}

.page-footer__inner {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    margin: 0 auto;
}

.page-footer__inner > div:not(:last-child) {
    // background: greenyellow;
    border-bottom: 1px solid #d9d9d9;
}

.page-footer__logo {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-footer__logo img {

}

.page-footer__home-link {
    display: block;
}

.page-footer__social-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 130px;
    margin: 0;
    padding: 0;
    // padding-top: 20px;
    // padding-bottom: 20px;
    list-style: none;
}

.page-footer__item:not(:last-child) {
    margin-right: 40px;
}

.page-footer__link {
    display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.page-footer__link--vk {
    width: 22px;
    height: 12px;
    background-image: url("../img/icon-vk.svg");
}

.page-footer__link--ig {
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-ig.svg");
}

.page-footer__link--fb {
    width: 10px;
    height: 19px;
    background-image: url("../img/icon-fb.svg");
}

.page-footer__developer-wrapper {
    padding-top: 20px;
    // padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.page-footer__developer-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 280px;
    width: 100%;
    color: $font-color;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;

    img {
        margin-left: 3vw;
        text-align: center;
        vertical-align: middle;
    }
}