.page-header {
    // margin-top: 25px;

    @include tablet {
        margin-bottom: 25px;
    }
}

.page-header__inner {
    // display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $tablet-width;
    width: 100%;
    padding: 15px 0 10px;
    
    margin: 0 auto;

    @media (min-width: $tablet-width) {
        display: flex;
        max-width: $desktop-width;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.page-header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // display: block;
    flex-shrink: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    
    @media (min-width: $tablet-width) {
        padding-left: 0;
        padding-right: 0;
    }
}

.page-header__btn {

    @media (min-width: $tablet-width) {
        @include visually-hidden;
    }
}