.poster {
    margin-bottom: 20px;

    @include tablet {
        margin-bottom: 0;
    }

    @include desktop {
        margin-bottom: 80px;
    }
}

.poster__inner {
    max-width: $tablet-width;
    width: 100%;
    margin: 0 auto;

    @include desktop {
        max-width: $desktop-width;
        padding-left: 110px;
        padding-right: 110px;
    }
}


.poster__wrapper-1 {
    width: 100%;
    min-height: 305px;
    padding-top: 30px;
    padding-left: 20px;
    background-image: url("../img/index-background-mobile.jpg");
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-color: #65a93c;
    
    @media (min-width: $tablet-width) {
        padding-left: 120px;
        background: none;
        min-height: auto;
    }

    @include desktop {
        padding-top: 40px;
        padding-left: 40px;
    }
}

.poster__heading {
    margin: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    overflow-wrap: break-word;

    @media (min-width: $tablet-width) {
        margin-bottom: 40px;
        color: #000;
        font-size: 60px;
        line-height: 60px;
        text-align: left;
    }

    @include desktop {
        max-width: 50%;
    }
}

.poster__text {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 20px;
        text-align: left;
        color: #000;
    }
}

.poster__wrapper-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    // padding-right: 20px;

    @media (min-width: $tablet-width) {
        min-height: 609px;
        max-width: 709px;
        align-items: flex-start;
        padding-top: 20px;
        padding-left: 120px;
    }
    
    @include desktop {
        padding-left: 40px;
        max-width: $desktop-width;
        min-height: 285px;
    }
}



.poster__img {
    margin-top: -135px;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
        position: absolute;
        z-index: 1;
        margin: 0 auto;
        left: 50%;
        top: 0;
        width: 709px;
        height: 609px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    @include desktop {
        top: -90%;
        width: 552px;
        height: 499px;
        transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -moz-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        -o-transform: translateX(-25%);
}
}

.poster__button {
    position: relative;
    z-index: 2;
    max-width: 320px;

    @media (min-width: $tablet-width) {
        max-width: 245px;
        font-size: 20px;
        padding: 20px 18px;
        font-weight: 400;
    }
}