.poster {
    margin-bottom: 20px;
}

.poster__inner {
    max-width: $tablet-width;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.poster__heading {
    margin: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    overflow-wrap: break-word;
}

.poster__wrapper-1 {
    width: 100%;
    min-height: 305px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("../img/index-background-mobile.jpg");
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-color: #65a93c;
}

.poster__wrapper-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.poster__text {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.poster__img {
    margin-top: -135px;
    margin-bottom: 15px;
}

.poster__button {
    
}