.process {
}

.process__inner {
    max-width: $tablet-width;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
}

.process__heading {
    margin: 0;
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: normal;
}

.process__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.process__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    // width: 45%;
    // min-height: 300px;
    margin-bottom: 20px;
    // margin-right: 20px;
    // &:nth-child(2n) {
    //     margin-right: 0;
    // }
}

.process__image {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: $secondary-color;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &--leaf {
        background-image: url("../img/advantage-1.png");
    }

    &--water {
        background-image: url("../img/advantage-2.png");
    }

    &--cutlery {
        background-image: url("../img/advantage-3.png");
    }

    &--scale {
        background-image: url("../img/advantage-4.png");
    }
}

.process__description {
    margin: 0 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $font-color;
}

.process__index {
    display: none;
    position: absolute;
    top: -60px;
    right: 7vw;
    font-size: 35vw;
    opacity: 0.05;
}