.process {
}

.process__inner {
    max-width: $tablet-width;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;

    @media (min-width: $tablet-width) {
        padding-left: 30px;
        padding-right: 30px;
        max-width: $desktop-width;
    }
}

.process__heading {
    margin: 0;
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: normal;

    @media (min-width: $tablet-width) {
        font-size: 60px;
        margin-bottom: 60px;
    }
}

.process__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.process__item {
    position: relative;
    display: flex;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
        flex-direction: column;
        width: 45%;
        min-height: 280px;
        margin-right: 25px;

            &:nth-child(2n) {
            margin-right: 0;
        }


    }
}

.process__image {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: $secondary-color;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &--leaf {
        background-image: url("../img/advantage-1.png");
    }

    &--water {
        background-image: url("../img/advantage-2.png");
    }

    &--cutlery {
        background-image: url("../img/advantage-3.png");
    }

    &--scale {
        background-image: url("../img/advantage-4.png");
    }

    @media (min-width: $tablet-width) {
        width: 80px;
        height: 80px;
        margin-bottom: 30px;
    }
}

.process__description {
    margin: 0 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $font-color;

    @media (min-width: $tablet-width) {
        max-width: 80%;
        font-size: 16px;
        line-height: 24px;
        margin-left: 0px;
    }
}

.process__index {
    display: none;
    

    @media (min-width: $tablet-width) {
        display: block;
        position: absolute;
        top: -60px;
        right: 90px;
        font-size: 281px;
        opacity: 0.05;
    }
}